{{> welcomemenu }}
<section class="ui raised segment">
    <header class="ui  header">{{req.sentBy.firstName}} {{req.sentBy.lastName}} has sent you a request!</header>
    <p>{{req.message}}</p>
    <br/>
    <p>Sign up or login to join {{req.sentBy.firstName}} {{req.sentBy.lastName}} in planning {{req.event.title}}!</p>
    <div class="ui large buttons">
        <a class="item" href="/signup">
            <button class="ui pink button">Sign Up</button>
        </a>
    </div>
    <div class="ui large buttons" style="padding-left: 20px">
        <a class="item" href="/login">
            <button class="ui pink button">Login</button>
        </a>
    </div>
</section>


