{{#if loggedin}}
    {{> mainmenu _id="event" }}
{{else}}
    {{> welcomemenu }}
{{/if}}
<h1> {{event.title}}</h1>
<section class="ui segment">
    <div class="ui grid" style="height: 100vh;">
        <aside class="three wide column" style="background: lightgrey">
            {{> guestmenu _id="event" }}
        </aside>
        <article class="twelve wide column">
            <div class="ui segment">
                <div style="white-space: pre; font-size: large">{{event.welcomeMessage}}</div>
                <div class="ui  divider"></div>
                <b>Date: </b> {{formatDate event.date}}<br/>
                <br/><b>Hosted By:</b>{{#each hosts}} {{firstName}} {{lastName}}, {{/each}}<br/>
                <br/><b>Information: </b><br/>
                <div style="white-space: pre;">{{event.info}}</div>
            </div>
            <div class="ui segment">
                {{>rsvpselection}}
            </div>
            <div class="ui segment">
                {{>answerrsvpquestions}}
            </div>
        </article>
    </div>
</section>