<h3>Questions - {{plusOne.firstName}} {{plusOne.lastName}}</h3>
<div class="ui form">
    <form action="/answerquestions/{{guest._id}}/plusOne/{{plusOne._id}}" method="POST">
        {{#each questions}}
            <div class="grouped {{isRequired required}} inline fields">
                <label>{{question}}</label>
                {{#each answers}}
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="answer.{{../_id}}"  value="{{this}}">
                            <label>{{this}}</label>
                        </div>
                    </div>
                {{/each}}
                <script>
                    $('input[name="answer.{{_id}}"][value="{{selected}}"]'). attr("checked", "checked");
                </script>
            </div>
        {{/each}}
        <button class="ui pink submit button">Send</button>
    </form>
</div>