<section class="ui raised segment">
    <h2>To Do List</h2>
    <div class="ui grid">
        <article class="twenty wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Budget</th>
                    <th>Assigned</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                {{#each todos}}
                    <tr>
                        <td> {{title}} </td>
                        <td> {{budget}} </td>
                        <td> {{assigned.firstName}} {{assigned.lastName}}</td>
                        <td> {{status}} </td>
                        <td><a href="/todolist/{{../event._id}}/todo/{{_id}}"  class="ui green icon button"> <i class="icon folder open"></i></a>
                            <a href="/todolist/{{../event._id}}/delete/{{_id}}"  class="ui red icon button"> <i class="icon trash"></i></a></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>
