<section class="ui raised segment">
    <div class="ui grid">
        <article class="twenty wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Budget</th>
                    <th>Assigned</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {{#each todos}}
                    <tr>
                        <td> {{title}} </td>
                        <td> {{budget}} </td>
                        <td> {{assigned.firstName}} {{assigned.lastName}} </td>
                        <td> {{status}} </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>
